body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5.625rem;
  /* 16px = 100% = 1em */
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  margin-top: 70px;
  margin-bottom: 50px;
}

hr {
  margin: 50px 0;
}

input {
  margin-left: 10px;
  margin-right: 50px;
  width: 40px;
}

.top-container {
  background-color: #364F6B;
  color: #F5F5F5;
  text-align: center;
  padding: 100px;
}

.middle-container {
  width: 40%;
  margin: 0 auto;
}

.microstructure-row {
  width: 80%;
  text-align: center;
  margin: 50px auto;
}

.microstructure-img {
  border-radius: 8px;
  object-fit: cover;
  width: 225px;
  height: 300px;
  border: solid;
  margin: 30px 7%;
  transition: transform .2s;
}

.microstructure-img:hover {
  transform: scale(1.25);
}

.img-result {
  border-radius: 8px;
  object-fit: cover;
  border: solid;
  float: right;
  display: none;
}

.centered-img-text {
  position: absolute;
  top: 50%;
  right: 50%;
}

.footer {
  text-align: center;
  background-color: #364F6B;
  color: #F5F5F5;
  margin-top: 100px;
  padding: 25px;
}

.microstructure-info {
  display: none;
  width: 60%;
  margin: 50px auto;
  height: 350px;
}

.fvdam {
  display: none;
  width: 60%;
  margin: 50px auto;
}

.square-info {
  display: none;
}

.hexagonal-info {
  display: none;
}

.random-info {
  display: none;
}

.loading {
  width: 20px;
  display:none;
}

.generate-loading {
  width: 20px;
  display:none;
}

.prep-results {
  display: none;
  margin-left: 10px;
}

.final-results {
  display: none;
  margin-left: 10px;
}
